name: Preflight Checks

on:
  pull_request:
    types:
      - opened
      - reopened
      - synchronize

concurrency: preview-${{ github.ref }}

jobs:
    preflight-checks:
      name: Checks 
      environment: 
        name: preview
      runs-on: ubuntu-latest
  
      steps:
        - name: Relabel Pull Request
          id: labelPr
          uses: jburgess/AddRemovePrLabels@v1.0.4
          with:
            githubToken: ${{ github.token }}
            labelsToRemove: lgtm

        - name: Checkout
          uses: actions/checkout@v4
  
        - name: Setup NodeJS
          uses: actions/setup-node@v4
          with:
            node-version: 'lts/*'
            cache: npm
  
        - name: Install Dependencies
          run: npm install

        # - name: Run Linter
        #   run: | 
        #     cd src 
        #     npm run lint

        - name: Build Static App
          env: 
            REACT_APP_DOCUSAURUS_BASE_URL: ${{ vars.DOCUSAURUS_BASE_URL }}
          run: npm run build
    
        - name: Login to Container Registry
          uses: docker/login-action@v3
          with:
            registry: ${{ vars.REGISTRY }}
            username: ${{ secrets.REGISTRY_USER }}
            password: ${{ secrets.REGISTRY_PASSWORD }}

    